<div id="testimonial-grid-{{item}}" class="testimonial-grid">
    <h3>{{data.testimonial_grid_title}}</h3>
    <div class="wrapper">
        {% for item in data.tg_testimonial_block %}
            <div class="testimonial testimonial_{{loop.index}}">
                <div class="body-text-1">
                    <b class="testimonial-title">
                        <svg width="84" height="81" viewBox="0 0 84 81" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M42.0025 0C38.8617 0.00264262 35.7311 0.344142 32.6691 1.01812C33.031 2.23476 33.1288 3.51027 32.9565 4.765C32.7843 6.01973 32.3456 7.22674 31.6679 8.31067C30.9902 9.39461 30.0881 10.3322 29.0178 11.0649C27.9476 11.7976 26.7321 12.3096 25.4475 12.5691C26.2229 14.0933 26.5461 15.7947 26.3813 17.4851C26.2165 19.1754 25.5701 20.7889 24.5136 22.1471C23.4571 23.5052 22.0316 24.5552 20.3948 25.1809C18.7581 25.8065 16.9737 25.9835 15.2391 25.6922C15.2216 25.8019 15.21 25.9087 15.1866 26.0184C14.8856 27.4641 14.2286 28.8188 13.271 29.9683C12.3134 31.1179 11.0833 32.0287 9.68433 32.6239C8.28535 33.2192 6.75848 33.4815 5.2324 33.3886C3.70632 33.2958 2.22573 32.8506 0.915391 32.0906C-0.887156 40.2793 -0.014005 48.8054 3.41472 56.4959C6.84344 64.1864 12.6593 70.6635 20.062 75.036C27.4648 79.4085 36.0908 81.4616 44.7533 80.9129C53.4158 80.3641 61.6891 77.2404 68.4351 71.9716C75.181 66.7027 80.068 59.5476 82.4239 51.4907C84.7797 43.4337 84.4886 34.8707 81.5906 26.9798C78.6925 19.0889 73.33 12.2579 66.2407 7.42639C59.1513 2.59493 50.6836 0.000488385 42.0025 0V0Z"/></svg>
                        {{ item.tg_testimonial_block_name }}
                    </b>
                    <div class="testimonial-content">
                        {{ fn('wpautop',item.g_testimonial_block_testimonial) }}    
                    </div>
                    <span class="show-more">Show More</span>
                </div>
            </div>
        {% endfor %}    
    </div>
    <button id="show-more" class="button">Show More</button>
</div>